*{
  padding: 0px;
  margin: 0px;
}
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Roboto-regular', sans-serif;
  font-weight: 300;
  color: #454545; font-size:15px;
  line-height: 26px;
}
img{
  border: none;
  pointer-events: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: 'Roboto-regular', sans-serif;
  color: #272727;
}
.width100{
  width: 100% !important;
}
.minHeightVh100{
  min-height: 100vh
}
.padding_zero{
    padding-left: 0;
    padding-right: 0;
}
.padding_15_sp736{
    padding-left: 0;
    padding-right: 0;
}
.marginBottom3{
  margin-bottom: 3px;
}
.fontBlod{
  font-weight: bold;
}
#pagesChange{
  width: 80%;
  display: inline;
}
.display{
  display: block;
}
.displayPc{
  display: none;
}
.lineStyle{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.lineHid1{
    -webkit-line-clamp: 1;
}
.lineHid2{
    -webkit-line-clamp: 2;
}
.lineHid3{
    -webkit-line-clamp: 3;
}
.lineHid4{
    -webkit-line-clamp: 4;
}
.lineHid5{
    -webkit-line-clamp: 5;
}
.lineHid6{
    -webkit-line-clamp: 6;
}
.spanLineStyle{
    word-warp:break-word;
    word-break:break-all;
}
.body_containerPadding{
  padding: 80px 0 200px;
}
.change_mail_end_containerPadding{
  padding: 80px 0 200px;
}
.list_title{
    font-size: 60px;
    font-weight: bold;
    color: black;
    letter-spacing: 10px;
}
.inputStyle{
  padding-left: 12px;
  width: 100%;
  border-radius: 0px;
  border: 1px solid rgb(169,169,169);
}
.dashedDiv{
  border-bottom: 1px dashed rgb(73,18,11);
  margin: 10px 0;
}
.tab{
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    background-color: white;
}
.tab_icon{
  width: 15%;
  margin-right: 5px;
  margin-top: -5px;
}
.tab_all{
  color: black;
  border-bottom: 2px black solid;
}
.tab_all:hover{
  color: white;
  background-color: black;
}
.tab_moveup{
  color: red;
  border-bottom: 2px red solid;
}
.tab_moveup:hover{
  color: white;
  background-color: red;
}
.tab_event{
  color: #004984;
  border-bottom: 2px #004984 solid;
}
.tab_event:hover{
  text-decoration:none;
  background-color: #004984;
  color: white;
}
.tab_news{
  color: #009a4c;
  border-bottom: 2px #009a4c solid;
}
.tab_news:hover{
  text-decoration:none;
  background-color: #009a4c;
  color: white;
}
.tab_food{
  color: #FF0606;
  border-bottom: 2px #FF0606 solid;
}
.tab_fashion{
  color: #01A29A;
  border-bottom: 2px #01A29A solid;
}
.tab_health{
  color: #F39800;
  border-bottom: 2px #F39800 solid;
}
.tab_play{
  color: #920882;
  border-bottom: 2px #920882 solid;
}
.tab_drive{
  color: #171C61;
  border-bottom: 2px #171C61 solid;
}
.tab_life{
  color: #E4007F;
  border-bottom: 2px #E4007F solid;
}
.tab_bridal{
  color: #006934;
  border-bottom: 2px #006934 solid;
}
.tab_learning{
  color: #EA5514;
  border-bottom: 2px #EA5514 solid;
}
.tab_place{
  color: #2EA7E0;
  border-bottom: 2px #2EA7E0 solid;
}
.tab_facilities{
  color: #8FC31F;
  border-bottom: 2px #8FC31F solid;
}
.tab_recruit{
  color: #DAE000;
  border-bottom: 2px #DAE000 solid;
}
.tab_corporate{
  color: #036EB8;
  border-bottom: 2px #036EB8 solid;
}
.change_page{
  text-align: center;
}
.change_page ul{
   list-style: none;
}
.change_page ul li{
    display: inline;
    border: 2px solid;
    padding: 3px 8px;
    margin: 0 10px;
}
.change_page a{
    color: #F20821;
}
.change_page ul .checked{
    border: 2px solid #F20821;
    color: #FFF;
    background-color: #F20821;
}
.change_page ul li:hover{
    border: 2px solid #F20821;
    color: #FFF;
    background-color: #F20821;
}
.add_rightDiv{
  background-color: rgb(245,245,245);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -60%;
}
.color_white{
  color: white;
}
.fontColor1{
  color: #323232;
}
.year_select{
    width: 100%;
    border: 1px solid #A9A9A9;
    background-color: white;
    float: left;
    position: relative;
}
.year_list{
  background-color: white;
  border: 1px solid #A9A9A9;
  width: 100%;
  max-height: 270px;
  overflow-y: scroll;
}
.year_list_position{
    position: absolute;top: 27px;left: 0;
}
@font-face {
	font-family: 'Roboto-regular';
	src: url('fonts/Roboto-Regular.eot');
	src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Regular.woff') format('woff'),
		url('fonts/Roboto-Regular.ttf') format('truetype'),
		url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
  font-family: 'RobotoCondensed-custom';
  src: url('fonts/RobotoCondensed-custom.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'axisstd-bold';
  src: url('fonts/axisstd-bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'FE11004';
  src: url('fonts/FE11004.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Urban Grotesk Bold';
  src: url('fonts/Urban Grotesk Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Roboto-light';
	src: url('fonts/Roboto-Light.eot');
	src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Light.woff') format('woff'),
		url('fonts/Roboto-Light.ttf') format('truetype'),
		url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-thin';
	src: url('fonts/Roboto-Thin.eot');
	src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Thin.woff') format('woff'),
		url('fonts/Roboto-Thin.ttf') format('truetype'),
		url('fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-medium';
	src: url('fonts/Roboto-Medium.eot');
	src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Roboto-Medium.woff') format('woff'),
		url('fonts/Roboto-Medium.ttf') format('truetype'),
		url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: rgb(0, 0, 0,0.0);
}
.navbar-collapse{
  padding: 0;
}
.login1{
  background-color: #FF0000;
}

.login2{
  background-color: #004984;
}
a {
  color: #ffffff;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #DE1316;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.top-nav-collapse {
    padding: 0px;
}
.navbar .navbar_logo {
  display: none;
}
.navbar .container .navbar_collapse_bar {
  height: auto;
}
.navbar .container .navbar_collapse_items ul li {
  float: left;
}
.navbar .container .person-info {
  position:relative;
}
.navbar .container .person-info span {
  color: white;
}
.navbar .container .person-info a {
  color: white;
  cursor: pointer;
}
.indexHeadImgPC{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 5%;
}
.loginImgPC{
  width:88px;
  height:77px;
  text-align: center;
  float: right;
}
.loginImgPC div{
  height:48px;
}
.loginImgPC img{
  padding-top: 5px;
  width: 40%;
  height: 50px;
}
.loginImgPC span{
  font-weight: bold;font-family: 'Roboto-regular', sans-serif;
  padding-bottom: 5px;letter-spacing: 1px;
}
.navbar .container .dropdownMenu {
  display: block;
  background: white;
  clear: both;
  position:absolute;
  right: 80px;
  top: 80px;
  width: 160px;
  color: black;
  z-index: 999;
  -moz-box-shadow:1px 1px 4px #ccc;
  -webkit-box-shadow:1px 1px 4px #ccc;
  box-shadow:1px 1px 4px #ccc;
}
.navbar .container .dropdownMenu ul {
  list-style: none;
  margin-bottom: 0;
}
.navbar .container .dropdownMenu ul>li {
  padding: 5px;
  border-bottom: solid 1px #edeeef;
  cursor: pointer;
}
.navbar .container .dropdownMenu ul>li:hover {
  background-color: #efefef;
}
.navbar .container .dropdownMenu ul>li:last-child {
  border: none;
}
.navbar .container .dropdownMenu ul li i:before {
  float: left;
}
.navbar .container .dropdownMenu ul li i:before {
  font-family:'FontAwesome';
  content:"\f0da";
  font-size:16px;
  margin-right:5px;
  font-style: normal;
}
.navbar .container .dropdownMenu button{
  width: 18px;height: 18px;
  font-size: 10px;color:white;
  border:none;border-radius: 10px;background-color: red;
  position: absolute;left: 70px;top: 8px;
}
.navbar .container .dropdownMask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 !important;
  z-index: 10;
}
.nav_font_size{
  font-size: 18px;
}
@media(max-width: 1200px) {
.tab{
    font-size: 14px;
}
.tab_icon{
  width: 12%;
  margin-right: 3px;
  margin-top: -3px;
}
.list_title{
  font-size: 55px;
}
}
@media(max-width: 991px) {
.list_title{
  font-size: 35px;
}
.tab_icon{
  margin-right: 1px;
}
}
@media(max-width: 1080px) {
.navbar .container .dropdownMenu {
  position:absolute;
  right: 40px;
  top: 80px;
}
}
@media (max-width: 991px) {
.tab{
    font-size: 10px;
    line-height: 25px
}
}
@media(max-width: 736px) {
.displayPc{
  display: block;
}
.displaySp{
  display: none;
}
.display{
  display: none;
}
.padding_zero_sp736{
    padding-left: 0;
    padding-right: 0;
}
.padding_15_sp736{
    padding-left: 15px;
    padding-right: 15px;
}
.body_containerPadding{
  padding: 120px 15px 100px;
}
.navbar .navbar_logo {
  margin: 4% 0 0 0;
  display: inline-block;
  width: 85%;
  height: 100%;
  overflow: hidden;
}
.navbar .container .navbar_collapse_bar {
  height: 65px;
}
.navbar .container .navbar_collapse_items ul li {
  float: none;
}
.navbar .container .person-info{
  display: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  color: #000 !important;
  background-color: transparent;
}
.active-menu {
  background-color: rgb(27,27,27) !important;
}
.active-menu-top {
    background-color: #fff!important;
}
.arrow {
    margin-left: 10px;
}
.fa.arrow:before {
    content: "\f105";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}
.navbar-default {
    border: 0px solid black;
}
.navbar-header {
    background: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.nav > li > a > i {
    margin-right: 10px;
}
}
@media(max-width: 414px) {
.padding_zero_sp414{
    padding-left: 0;
    padding-right: 0;
}
.inputStyle{
  font-size: 11px;
  padding-left: 5px;
  letter-spacing: 0px;
}
.list_title{
  font-size: 30px;
}
.lineHeight{
  height: 52px;
}
}
@media(max-width: 375px) {
.inputStyle{
  font-size: 10px;
}
.list_title{
  font-size: 25px;
}
}
/******Header*******/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0; background:#fff;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 15px;
}
.divider{
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
#owl-example .item{ margin:15px;}
/******* Footer *******/
#footer {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  background: #1b1b1b;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: red;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
