.PwdForget_body_div{
	padding: 0;
	border: 2px solid rgb(238,238,238);
	text-align: center;
}
.PwdForget_body_font{
	margin-top: 60px;
	text-align: center;
}
.PwdForget_body_font span{
	font-size: 17px;
	letter-spacing: 1px;
	color: black;
}
.PwdForget_body_input{
	margin-top: 50px;
}
.PwdForget_body_input2{
	margin-top: 20px;
}
.PwdForget_body_input input{
	border: 2px solid rgb(238,238,238);
	height: 40px;
	width: 100%;
	float: right;
}
.PwdForget_body_input button{
	height: 40px;
	width: 100%;
	background-color: rgb(242,145,74);
	border: none;
	color: #FFF;
	float: left;
}
/***************************/
.PwdForget2_body{
	padding: 0;
	margin-top: 50px;
	height: 350px;
	text-align: center;
}
.PwdForget2_body_div{
	padding: 0 80px;
}
.PwdForget2_body label{
	font-size: 18px;
	line-height: 35px;
	letter-spacing: 3px;
	font-weight: normal;
	color: black;
	margin-bottom: 50px;
}
/***************************/
.PwdForget3_margin1{
	margin-top: 30px;
}
.PwdForget2_margin1{
	margin-top: 0;
}
.PwdForget3_subtitle{
	margin-top: 60px;
	margin-bottom: 20px;
}
.PwdForget3_subtitle span{
	font-size: 18px;
	letter-spacing: 5px;
}
.PwdForget3_newPwd{
	padding: 0;
	margin-top: 25px;
}
.PwdForget3_newPwd span{
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 6px;
	margin-right: 2%;
	float: right;
}
.PwdForget3_newPwd input{
	float: right;
}
.PwdForget3_body{
	padding: 0 190px;
	margin-top: 50px;
}
.PwdForget3_body_div{
	padding: 0;
	border: 2px solid rgb(238,238,238);
	height: 380px;
	text-align: center;
}
.PwdForget3_body_div input{
	border: 2px solid rgb(238,238,238);
	width: 100%;
	height: 40px;
}
.PwdForget3_body_div button{
	height: 40px;
	width: 75%;
	background-color: rgb(242,145,74);
	border: none;
	color: #FFF;
	float: right;
}
@media (max-width: 736px){
.PwdForget_body_div{
	border: none;
}
.PwdForget_body_font{
	padding: 0;
	margin-top: 0px;
	text-align: center;
}
.PwdForget_body_font span{
	font-size: 10px;
	letter-spacing: 2px;
}
.PwdForget_body_input{
	padding: 0;
	margin-top: 40px;
}
.PwdForget_body_input input{
	height: 60px;
	width: 100%;
}
.PwdForget_body_input button{
	height: 60px;
	background-color: rgb(243,152,1);
	margin-top: 20px;
}
/***************************/
.PwdForget2_body{
	padding: 0 40px;
	margin-top: 20px;
	height: 350px;
	text-align: center;
}
.PwdForget2_body_div{
	padding: 0;
}
.PwdForget2_body label{
	font-size: 12px;
	line-height: 35px;
	letter-spacing: 1px;
	font-weight: normal;
	color: black;
}
/***************************/
.PwdForget3_margin1{
	margin-top: 20px;
}
.PwdForget2_margin1{
	margin-top: 50px;
}
.PwdForget3_subtitle{
	margin-top: 0px;
	margin-bottom: 0px;
}
.PwdForget3_subtitle span{
	font-size: 12px;
	letter-spacing: 1px;
}
.PwdForget3_newPwd{
	padding: 0;
}
.PwdForget3_newPwd span{
	font-size: 15px;
	margin-left: 15px;
	float: left;
}
.PwdForget3_newPwd input{
	float: right;
	margin-top: 10px;
}
.PwdForget3_body{
	padding: 0;
	margin-top: 30px;
}
.PwdForget3_body_div{
	border: none;
}
.PwdForget3_body_div input{
	height: 60px;
}
.PwdForget3_body_div button{
	height: 60px;
	width: 100%;
	background-color: rgb(243,152,1);
}
}
@media (max-width: 375px){
.PwdForget_body_font span{
	font-size: 10px;
	letter-spacing: 1px;
}
.PwdForget_body_input{
	padding: 0;
	margin-top: 30px;
}
.PwdForget_body_input input{
	height: 50px;
	width: 100%;
}
.PwdForget_body_input button{
	height: 50px;
}
.PwdForget2_body{
	padding: 0 40px;
	margin-top: 20px;
	height: 350px;
	text-align: center;
}
.PwdForget2_body_div{
	padding: 0 5px;
}
.PwdForget2_body label{
	font-size: 10px;
	line-height: 30px;
	letter-spacing: 1px;
	font-weight: normal;
	color: black;
}
/***************************/
.PwdForget3_margin1{
	margin-top: 20px;
}
.PwdForget2_margin1{
	margin-top: 50px;
}
.PwdForget3_subtitle{
	margin-top: 0px;
	margin-bottom: 0px;
}
.PwdForget3_subtitle span{
	font-size: 11px;
	letter-spacing: 1px;
}
.PwdForget3_newPwd{
	padding: 0;
}
.PwdForget3_newPwd span{
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 6px;
	margin-left: 15px;
	float: left;
}
.PwdForget3_newPwd input{
	float: right;
	margin-top: 8px;
}
.PwdForget3_body{
	padding: 0;
	margin-top: 30px;
}
.PwdForget3_body_div{
	border: none;
}
.PwdForget3_body_div input{
	height: 60px;
}
.PwdForget3_body_div button{
	height: 60px;
	width: 100%;
	background-color: rgb(243,152,1);
}
}
