<div class="container" align="center" style="margin-top:120px;">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <button style="width: 50px;height: 50px;border: 2px solid black;border-radius: 25px;background-color: inherit;font-size: 45px;">
        <i class="fa fa-question"></i>
      </button>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:15px;">
      <p style="font-size: 25px;font-weight:bold;">お探しのぺ－ジが見つかりません。</p>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;">
      <p style="font-size: 15px;">大変れ入りますが、</p>
      <p style="font-size: 15px;">お探しのぺ－ジが見つかりません。</p>
  </div>
</div>
