<section class="minHeightVh100">
    <div class="container body_containerPadding">
        <div class="col-md-12 col-sm-12 col-xs-12 ApplicationOver_title" align="center">
            <span>ご応募が完了しました。</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ApplicationOver_title2" align="center">
            <span>ご登録のメールアドレスに応募完了メールをお送りします。</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ApplicationOver_content" align="left" ng-bind-html="content2"></div>
    </div>
</section>
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
