<section class="minHeightVh100">
    <div class="container body_containerPadding">
        <div class="col-md-12 col-sm-12 col-xs-12 ApplicationOver_title" align="center">
            <span>掲載依頼を受け付けました</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ApplicationOver_title2" align="center">
            <span>弊社担当よりメールもしくはお電話でご連絡いたします。</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 ApplicationOver_content" align="left">
            <!-- <span>※YahooメールやHotmail等のウェブメールをお使いの場合には、JAPAN MOVE UP WESTからのメールが自動的に迷惑メールとして振り分けられてしまう場合があります。</span></br>
            <span>時間が経ってもメールが受信されない場合には、迷惑メールフォルダ等をご確認ください</span></br>
            <span></span></br>
            <span>※携帯電話ドレスをご入力された場合は、JAPAN MOVE UP WESTからのメールを受信できるように</span></br>
            <span>『japanmoveupwest.com』のドメイン受信設定をお願いいたします。</span></br> -->
        </div>
    </div>
</section>
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
