<style>
nav{
  display: none;
}
li.arrowW1{
background-color: rgb(238,238,238);
color: white;
padding: 0 60px 0 70px;
}
li.arrowW1:after {
border-color: transparent rgb(238,238,238);
}
li.arrowW2{
background-color: rgb(220,220,220);
padding: 0 60px;
}
li.arrowW2:before {
border-color: rgb(220,220,220) transparent;
}
li.arrowW2:after {
border-color: transparent rgb(220,220,220);
}
li.arrowW3{
background-color: rgb(46,167,224);
padding: 0 50px;
}
li.arrowW3:before {
border-color: rgb(46,167,224) transparent;
}
li.arrowW3:after {
border-color: transparent rgb(46,167,224);
}
</style>
<section>
    <div class="container carry_pdgTop">
        <div class="col-lg-12 col-xs-12" align="center">
            <img class="img-responsive" src="images/logo01.svg" style="width: 50%;">
        </div>
        <div class="col-lg-12 col-xs-12 carry_MgnTop-200" align="center">
            <p class="table_Title">会員登録フォーム</p>
            <div class="display">
              <li class='arrowW arrowW1'><span style="color: black;">会員登録入力<span></li>
              <li class='arrowW arrowW2'><span style="color: black;">登録内容確認<span></li>
              <li class='arrowW arrowW3'><span style="color: white;">会員登録完了<span></li>
            </div>
        </div>
        <div align="center">
            <div class="info_row">
                <label class="info_Label">登録が完了致しました。</label>
            </div>
            <div class="info_row" style="margin-top: 0px">
                <label class="info_Label">この度はご登録いただきありがとうございました。</label>
            </div>
            <button class="confirm_Btn"><label>JAPAN MOVE UP WESTからのお知らせ</label></button>
            <!-- <div class="sencond_info_row">
                <label class="info_Label_Small">今年5月より岡山をさらに盛り上げる<span style="color: red">新サービス</span>を始働。</label>
            </div> -->
            <div class="sencond_info_row" style="margin-top: 0px">
                <label class="info_Label_Small">今回登録されたID・パスワードは、大切に保管してください。</label>
            </div>
            <a href="/"><button class="entryEnd_btn"><span style="cursor: pointer;margin: 0;">ホームページへ戻る</span></button></a>
        </div>
    </div>

</section>

<section id="footer_mv">
    <div class="footer_font">Copyright HEADLINE WEST All Rights Reserved.</div>
</section>
