<section id="footer_info">
    <div class="foot_triangle"><div id="foot_triangle2"></div></div>
    <div class="footer_container">
      <div class="container">
        <div class="col-md-3 col-sm-3 col-xs-12 padding_zero display"  ng-click="jumpTop()" style="cursor:pointer;">
          <img src="images/logo02.svg" class="logo_images" alt="Responsive image">
        </div>
        <a href="/">
        <div class="col-md-3 col-sm-3 padding_zero display" align="center" style="margin: 50px 0;">
          <a href="https://twitter.com/japanmoveupwest"><button type="button" class="index_underBtn"><i class="fa fa-twitter"></i></button></a>
          <a href="https://www.facebook.com/japanmoveupwest"><button type="button" class="index_underBtn" style="margin-left:14%;"><i class="fa fa-facebook"></i></button></a>
          <a href="https://www.instagram.com/japanmoveupwest"><button type="button" class="index_underBtn" style="margin-left:14%;"><i class="fa fa-instagram"></i></button></a>
        </div></a>
        <div class="col-md-6 col-sm-6 col-xs-12 padding_zero footerSpAlign">
          <div class="footerSpLineHeight">
              <button class="footer_btn_normal" type="submit">
                <a href="http://headline-west.com/" target="_blank">運営会社</a>
              </button>
              <button class="footer_btn_normal" type="submit"><a href="/privacy">プライバシーポリシー</a></button>
              <button class="footer_btn_normal" type="submit"><a href="/personalProtection">個人情報保護指針</a></button>
          </div>
          <div class="footerSpLineHeight">
              <button class="footer_btn_normal" type="submit"><a href="/terms">利用規約</a></button>
              <button class="footer_btn_normal" type="submit"><a href="/contact">お問い合わせ</a></button>
              <button class="footer_btn_normal" type="submit"><a href="/carry">掲載依頼</a></button>
          </div>
          <div class="footerSpLineHeight">
              <button class="footer_btn_normal" type="submit"><a href="/signup">新規会員登録</a></button>
              <button class="footer_btn_normal" type="submit"><a href="/login">ログイン</a></button>
              <button class="footer_btn_normal" type="submit"><a href="/withdraw">退会</a></button>
          </div>
          <div class="footerSpLineHeight">
              <button class="footer_btn_normal" type="submit"><a href="/jmuw">JAPAN MOVE UP WESTとは</a></button>
          </div>
          <div class="footerSpLineHeight">
              <button class="footer_btn_normal" type="submit"><a href="/jmuwweb">JAPAN MOVE UP WEST WEBとは</a></button>
          </div>
        </div>
        <div class="col-xs-12 padding_zero displayPc" align="center" style="padding:10px 0 20px;" ng-click="jumpTop()">
          <img src="images/logo02.svg" class="logo_images col-md-offset-6" alt="Responsive image">
        </div>
        <div class="col-xs-12 padding_zero displayPc" align="center">
          <div class="col-xs-3"></div>
          <div class="col-xs-6 padding_zero" align="center">
            <a href="https://twitter.com/japanmoveupwest"><button type="button" class="index_underBtn"><i class="fa fa-twitter"></i></button></a>
            <a href="https://www.facebook.com/japanmoveupwest"><button type="button" class="index_underBtn" style="margin-left:14%;"><i class="fa fa-facebook"></i></button></a>
            <a href="https://www.instagram.com/japanmoveupwest"><button type="button" class="index_underBtn" style="margin-left:14%;"><i class="fa fa-instagram"></i></button></a>
          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div id="footer" class="container text-center">
        <span>Copyright HEADLINE WEST All Rights Reserved.</span>
      </div>
    </div>
</section>
