<section>
    <div class="container change_mail_end_containerPadding">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 PwdForget_title PwdForget2_margin1" align="center">
                <span ng-bind-html="title"></span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 PwdForget2_body">
                <div class="col-md-1 col-sm-12 col-xs-12"></div>
                <div class="col-md-10 col-sm-12 col-xs-12 PwdForget2_body_div" >
                    <label class="display" style="padding: 0">
                        <span ng-bind-html="content"></span>
                    </label>
                    <label class="displayPc" style="padding: 0">
                        <span ng-bind-html="content"></span>
                    </label>
                </div>
                <div class="col-md-1 col-sm-12 col-xs-12"></div>
                <div class="col-md-2 col-sm-１ col-xs-1"></div>
                <div class="col-md-8 col-sm-12 col-xs-12 ApplicationOver_content2" align="left" ng-bind-html="content2">
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
