<section style="padding:100px 0 323px;">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center quit_padding_1 quit_end_title">
            <span>パスワードの変更を完了しました。</span>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 text-center quit_padding_4">
            <a href="/" style="display:block;"><button type="submit" class="quit_btn_toppage">JAPAN MOVE UP WEST トップページに戻る</button></a>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12"></div>

    </div>
</section><!--/#Quit_end-->
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
