
<section id="rise_detail">
    <div class="container rise_padding_1 padding_zero">
        <div class="col-md-12 col-sm-12 col-xs-12 displayPc rise_detail_exp_bgcolor">
            <img src="images/event_1.png" alt="" class="rise_detail_pic_1">
        </div>

        <div class="col-md-12 col-sm-3 col-xs-3 displayPc rise_detail_catagoli"><span style="background-color: red">ATHLETE</span></div>
        <div class="col-md-12 col-sm-9 col-xs-9 rise_detail_title">EXILE TAKAHIRO</div>
    </div>

    <div class="container rise_padding_3 padding_zero rise_detail_exp_bgcolor" style="position: relative">
        <div class="col-md-12 col-sm-12 col-xs-12 rise_detail_header_1">一年を通じてずっと聴いてもらえる作品を作りたいと思った。</div>

        <div class="col-md-12 col-sm-12 col-xs-12 display rise_padding_3">
            <div class="col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <img src="images/event_1.png" alt="" class="rise_detail_pic_1">
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 rise_padding_2"></div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 rise_padding_3">
                <iframe id="topVideo" style="height:350px;width:100%" src="https://www.youtube.com/embed/RCc_ly3vBfM"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 rise_detail_header_2">さまざまなインプットがあって、収穫の年だったという。</div>
            <div class="col-md-12 col-sm-12 col-xs-12 rise_detail_info">
                いろんな仕事をさせてもらいましたけど、一つひとつに集中できて、春の時期、一時的に寒さが戻ることを「寒の戻り」と表現しますが、実は沖縄にも寒さを表現があり、それは一つではありません。時期によって様々です。沖縄は意外にも寒さの表現が豊かなのです。</br>
                時期によって様々です。沖縄は意外にも寒さの表現が豊かなのです。春の時期、一時的に寒さが戻ることを「寒の戻り」と表現しますが、実は沖縄にも寒さを表現があり、それは一つではありません。時期によって様々です。沖縄は意外にも寒さの表現が豊かなのです。春の時期、一時的に寒さが戻ることを「寒の戻り」と表現しますが、実は沖縄にも寒さを表現があり、それは一つではありません。時期によって様々です。沖縄は意外にも寒さの表現が豊かなのです。春の時期、一時的に寒さが戻ることを「寒の戻り」と表現しますが、実は沖縄にも寒さを表現があり、それは一つではありません。時期によって様々です。沖縄は意外にも寒さの表現が豊かなのです。</br>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 display" style="position: absolute; z-index: 2; padding-top: 10%;">
            <div class="col-md-5 col-sm-12 col-xs-12 padding_zero rise_detail_exp_note">
                <div class="col-md-3 col-sm-12 col-xs-12 padding_zero rise_detail_exp_trapezoid">
                    <span>ATHLETE</span>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12"></div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="rise_detail_exp_name1">TAKAHIRO&nbsp;&nbsp;&nbsp;</span>
                    <span class="rise_detail_exp_name2">TAKAHIRO</span>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 rise_detail_exp_header">LDH JAPAN / EXILE ボーカル</div>

                <div class="col-md-2 col-sm-12 col-xs-12">______</div>
                <div class="col-md-10 col-sm-12 col-xs-12"></div>

                <div class="col-md-12 col-sm-12 col-xs-12 rise_detail_exp_content">2006春の時期、一時的に寒さが戻ることを「寒の戻り」と表現しますが、実は沖縄にも寒さを表現があり、それは一つではありません。時期によって様々です。</br></br>
                春の時期、一時的に寒さが戻ることを「寒の戻り」と表現しますが、実は沖縄にも寒さを表現があり、それは一つではありません。</br>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12"></div>
        </div>
    </div>

    <div class="row rise_detail_diary_bgcolor rise_detail_xs_border">
        <div class="col-md-12 col-sm-12 col-xs-12 display rise_detail_list">
            <ul>
                <a href="#"><li><button type="submit" class="btn rise_detail_btn_submit"><span class="fa fa-chevron-left"></span></button></li></a>
                <a href="#"><li><img src="images/blog1.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><img src="images/blog2.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><img src="images/blog3.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><img src="images/blog1.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><button type="submit" class="btn rise_detail_btn_submit"><span class="fa fa-chevron-right"></span></button></li></a>
            </ul>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 displayPc rise_detail_list">
            <ul>
                <a href="#"><li><button type="submit" class="btn rise_detail_btn_submit"><span class="fa fa-chevron-left"></span></button></li></a>
                <a href="#"><li><img src="images/blog1.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><img src="images/blog2.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><img src="images/blog3.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><img src="images/blog1.jpg" class="rise_detail_pic_2"></li></a>
                <a href="#"><li><button type="submit" class="btn rise_detail_btn_submit"><span class="fa fa-chevron-right"></span></button></li></a>
            </ul>
        </div>
        <div id="slanted-div2" class="col-md-2 col-xs-1">
           <div class="eventDetail_slanting"></div>
        </div>
        <div class="col-md-5 col-xs-11">
           <a class="eventDetail_title_Label">ACTIVITY</a>
           <a class="eventDetail_title_Label1">DIARY</a>
        </div>
    </div>

    <div class="container rise_padding_3 padding_zero rise_detail_diary_bgcolor">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-1 col-sm-12 col-xs-12"></div>
            <div class="col-md-2 col-sm-12 col-xs-12 display">
                <img src="images/blog3.jpg" alt="" class="img-circle rise_detail_diary_pic">
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 rise_detail_diary_note">
                <ul>
                    <li><span class="rise_detail_diary_time">2時間前</span></li>
                    <li><span class="rise_detail_diary_content">まさかの最終回後に実施よなった公開録音にご来場いただいた皆様ありがとうございました！まさかの最終回後にまさかの最終回後に実施よなった公開録音にご来場いただいた皆様ありがとうございました！</span></li>
                    <li>
                        <span><img src="images/blog1.jpg" alt="" class="rise_detail_diary_photo"></span>
                        <span><img src="images/blog2.jpg" alt="" class="rise_detail_diary_photo"></span>
                    </li>
                    <li><span class="rise_detail_diary_time">3/11 14:43</span></li>
                    <li><span class="rise_detail_diary_content">まさかの最終回後に実施よなった公開録音にご来場いただいた皆様ありがとうございました！まさかの最終回後にまさかの最終回後に実施よなった公開録音にご来場いただいた皆様ありがとうございました！</span></li>
                    <li>
                        <span><img src="images/Managize1.jpg" alt="" class="rise_detail_diary_photo"></span>
                        <span><img src="images/blog1.jpg" alt="" class="rise_detail_diary_photo"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 rise_padding_2">
    </div>
</section><!--/#rise_detail-->
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
