<section id="rise_banner">
    <div class="container display rise_padding_1">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="rise_title">Rise</div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 rise_btn_padding rise_xs_padding">
            <table class="table rise_banner_table">
                <tr>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: black">ALL</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: red">ATHLETE</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #004984">STREET</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #009a4c">ARTIST</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #D3D3D3">NEXTER</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #FF1493">GIRLS</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container displayPc rise_padding_1">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="rise_title">Rise!</div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 rise_btn_padding rise_xs_padding">
            <table class="table rise_banner_table">
                <tr>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: black">ALL</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: red">ATHLETE</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #004984">STREET</button></td>
                </tr>
                <tr>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #009a4c">ARTIST</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #D3D3D3">NEXTER</button></td>
                    <td style="border: none;"><button type="submit" class="rise_btn_submit" style="background-color: #FF1493">GIRLS</button></td>
                </tr>
            </table>
        </div>
    </div>
</section><!--/#banner-->

<section id="rise_store">
    <div class="container rise_list rise_xs_padding">
        <div class="col-md-12 col-sm-12 col-xs-12 rise_xs_padding">
            <div class="col-md-12 col-sm-12 col-xs-12">Risky Melody Sky周年イベントを開催しました</div>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_1.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_2.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">AKIRA</span>
                        <span class="rise_name2 rise_xs_display"><br/>AKIRA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_3.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_1.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_2.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">AKIRA</span>
                        <span class="rise_name2 rise_xs_display"><br/>AKIRA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_3.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_1.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_2.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">AKIRA</span>
                        <span class="rise_name2 rise_xs_display"><br/>AKIRA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_3.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_1.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_2.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">AKIRA</span>
                        <span class="rise_name2 rise_xs_display"><br/>AKIRA</span>
                    </div>
                </div>
            </div>
            </a>
            <a href="/riseDetail">
            <div class="col-md-4 col-sm-6 col-xs-6 rise_padding_3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="col-md-12 col-sm-12 col-xs-12 team-img padding_zero">
                        <img src="images/rise_3.png" alt="" class="rise_pic">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 rise_name_text">
                        <span class="rise_name1">林田 寿明</span>
                        <span class="rise_name2 rise_xs_display"><br/>TOSHIAKI HAYASHIDA</span>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 rise_padding_2"></div>

        <div class="col-md-12 col-sm-12 col-xs-12 display" align="center">
            <div class="rise_change_page">
                <ul>
                    <a href="#"><li style="margin-right: 15px; margin-top: 4px;">前の12件</li></a>
                    <a href="#"><li style="margin-right: 5px"><span>1</span></li></a>
                    <a href="#"><li style="margin-right: 5px"><span>2</span></li></a>
                    <a href="#"><li><span>3</span></li></a>
                    <a href="#"><li style="margin-left: 5px;"><span>4</span></li></a>
                    <a href="#"><li style="margin-left: 5px;"><span>5</span></li></a>
                    <a href="#"><li style="margin-left: 15px; margin-top: 4px;">次の12件</li></a>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 displayPc" align="center" style="padding: 0;margin-top: 60px;">
            <div class="event_change_btn">
              	<button type="button" style="float: left;">前へ</button>
              	<label>
                    <b style="letter-spacing:5px;">2ぺージ目</b>
                    <p style="font-weight:normal;">(12ぺージ中)</p>
              	</label>
              	<button type="button" style="float: right;">次へ</button>
            </div>
        </div>
    </div>
</section><!--/#Store-->
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
