<section class="minHeightVh100">
    <div class="container body_containerPadding">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center quit_padding_1 quit_end_title">
            <span>JAPAN MOVE UP WEST会員の退会手続きが完了しました。</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 text-center display quit_padding_4 quit_end_notice">
            <span>退会手続きが完了のメールをお送りしましたので、内容をご確認ください。</span>
            <span><br>ご利用ありがとうございました。</span>
            <span><br><br>またの機会のご利用を、心よりお待ちしております。</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 displayPc quit_padding_2 quit_end_notice">
            <span>退会手続きが完了のメールをお送りしましたので、内容をご確認ください。</span>
            <span>ご利用ありがとうございました。</span>
            <span>またの機会のご利用を、心よりお待ちしております。</span>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 text-center quit_padding_4">
            <a href="/" style="display:block;"><button type="submit" class="quit_btn_toppage">JAPAN MOVE UP WEST トップページに戻る</button></a>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12"></div>

    </div>
</section><!--/#Quit_end-->
<div ng-include="'views/footer.html'" ng-hide="hideFooter"></div>
